.footer {
    background-color: #211e1c;
    color: white;
    display: grid;
    padding: 2vh;
    display: grid;
    grid-template-columns: 80% 20%;
}
.disclamer {
    text-align: left;
}
.links {
    text-align: right;
}