.video {
    position: relative;
    width: 110vw;
    height: 110vh;
    top: -10vh;
    left: 10vw;
    z-index: -4;
}
.bg {
    display: block;
    position: absolute;
    top: -10vh;
    left: 10vw;
    width: 110vw;
    height: 110vh;
    content: ' ';
    z-index: -2;
    backface-visibility: hidden;
    background: rgb(218,210,197);
    background: linear-gradient(63deg, rgba(218,210,197,1) 30%, rgba(0,0,0,0) 90%); 
    opacity: 1;
}
.logo {
    display: block;
    position: absolute;
    top: 50vh;
    left: 3vw;
}


.navigation {
    z-index: 50;
    background-color: #211e1c;
    color: #fcfbf8;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    
}
.navigation ul{
    list-style: none;
    width: 50%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.navigation ul li {
    font-weight: 700;
    font-size: 2vw;
}